<div class="app-container">
    <div class="position-relative">
      <app-sidebar
        [isSidebarCollapsed]="isSidebarCollapsed"
        (sidebarToggle)="onSidebarToggle()"
      >
      </app-sidebar>
      <button
        class="sidebar-toggle-btn"
        [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }"
        (click)="onSidebarToggle()"
      >
        <i
          [class]="
            isSidebarCollapsed ? 'fas fa-arrow-right' : 'fas fa-arrow-left'
          "
        ></i>
      </button>
    </div>
  
    <main class="content" [ngClass]="{ 'content-expanded': isSidebarCollapsed }">
      <header>
        <div class="logo">Meu Logo</div>
      </header>
      <div class="content-inner">Content goes here</div>
       <!-- <div class="content-inner"><router-outlet></router-outlet></div> -->
    </main>
  </div>
